<div class="content">
  <h1 class="fade-in">Welcome to the Safety Ambassadors Program</h1>
  <hr class="underline" />
  <iframe
    width="800"
    height="450"
    src="https://www.youtube.com/embed/M8M4lR_0YPw"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <hr class="hr-text" />
  <div
    class="index-test-containers d-block"
    style="text-align: justify; padding-left: 4rem"
  >
    <p>
      The Safety Ambassadors Program (SAP) is an evidence-based program that
      harnesses the power of students delivering children rights, to prevent and
      stop violence and mistreatment. It is considered a social-emotional
      learning program and has been approved by many schools.
    </p>
    <p>
      Initiated by the Dubai Police, in collaboration with the Knowledge and
      Human Development Authority (KHDA), SAP is a student-centered model that
      educates diverse social leaders with the skills to prevent and reduce
      violence delivering children rights . It is the nation's most effective
      student-led bullying & violence prevention program.
    </p>
    <p>
      This program relies on the “inside-out” approach to improving school
      climate. Student bystanders see, hear, and know things adults don't, can
      intervene in ways adults can't and are often on the scene of an incident
      before an adult. They are a critical and necessary resource for positively
      impacting the crisis of bullying, violence in schools.
    </p>
  </div>
  <br />

  {% include "safety_ambassador_program/carousel-slides/whatsNew.html" %}
</div>
