<div class="index-test-containers d-block">
    <h1>Let's See What You Already Know!</h1>
    <br>
    <div>
        <div class = "question-container">
            <h4 class="text-danger">Q.1) </h4>
            <h4>What do you think is cyber safety?</h4>
        </div>
        <div>
            <select class="form-select answer-fields" aria-label="Default select example">
                <option id = "correct-answer">Protecting yourself on the internet from people who might want to harm you</option>
                <option>Protecting your internet.</option>
                <option>Protecting the viruses on the internet from the hackers.</option>
                <option>Ensuring the safety of the hackers on the internet and protecting them from viruses.</option>
            </select>
        </div>
    </div>
    <br>
    <br>
    <div>
        <div class = "question-container">
            <h4 class="text-danger">Q.2) </h4>
            <h4>Why should you keep your passwords private?</h4>
        </div>
        <select class="form-select answer-fields" aria-label="Default select example">
            <option>So that you don’t get hacked.</option>
            <option>So that others don’t use your account (and spend your V-bucks on fortnite.</option>
            <option>So that someone else doesn’t gain access to your account and change its password and log you out.</option>
            <option id = "correct-answer">All of the above.</option>
        </select>
    </div>
    <br>
    <br>
    <div>
        <div class = "question-container">
            <h4 class="text-danger">Q.3) </h4>
            <h4>What is a digital footprint?</h4>
        </div>
        <select class="form-select answer-fields" aria-label="Default select example">
            <option>A scan of your foot on google.</option>
            <option id = "correct-answer">Every single action of yours on the internet which can be traced back to you.</option>
            <option>Only your search history.</option>
            <option>All your activity on social media platforms.</option>
        </select>
    </div>
</div>
<br>
<br>