<div style="width: 95%; margin: auto">
  <div>
    <h1 class="display-5">Safer Internet Day</h1>
  </div>
  <div class="sid-section">
    <div style="margin: auto; padding: 1rem">
      <div>
        <p class="section-heading">What is Safer Internet Day?</p>
        <p class="lead internet-day-paragraphs">
          <b>Safer Internet Day (SID)</b> is celebrated every year on the 8th of
          February. Initially taken up as part of the
          <b>EU SafeBorders</b> initiative in 2014, SID has come a long way
          since then. It has upheld the motto of “Together for a better
          internet” and is a global initiative to make the internet a safer
          place for humanity. From various issues such as cyber bullying and
          networking, SID aims to raise awareness of different social and
          digital issues every year.
        </p>
      </div>
      <hr />
      <div>
        <p class="section-heading">Celebrating Safer Internet Day in UAE</p>
        <p class="lead internet-day-paragraphs">
          In the United Arab Emirates, we celebrate Safer Internet Day as part
          of the <b>Khalifa Empowerment Program called AQDAR</b>. All schools in
          the UAE must follow a framework of internet safety and a national
          awareness campaign is set up that trains over 270,000 trainees on the
          importance of internet safety and how they can make the internet a
          safer place for their friends and families.
        </p>
      </div>
      <hr />
    </div>
    <div style="padding: 1.5rem">
      <img
        src="https://www.saferinternetday.org/documents/167278/6697876/2022_homepage_visual_1.png/09efd1ad-91ad-cc6b-1e72-d7ec54406b3e?t=1634647457857"
        alt="safer-internet-day-calendar-img"
        width="400"
        height="400"
      />
    </div>
  </div>
  <div class="sid-section">
    <div style="margin: auto">
      <img
        src="https://www.egypttoday.com/siteimages/Larg/202102090556325632.jpg"
        alt="safe-button-img"
        width="600"
        height="400"
        style="border-radius: 2rem"
      />
    </div>
    <div>
      <main>
        <p class="section-heading">Making the Internet a Safer Place</p>
        <ol class="gradient-list">
          <li>
            Remember to <b>respect others’</b> opinions. You don’t necessarily
            have to agree with them, but it is important to listen and respect
            it.
          </li>
          <li>
            Don’t say things that might hurt someone’s feelings or make them
            feel unsafe. Take a moment to pause and <b>reflect</b> before
            reacting to a heated situation. Learn to make others feel loved,
            respected and safe.
          </li>
          <li>
            <b>Be mindful</b> of the information you share online. Never share
            your personal information or anything that can be used negatively
            against you.
          </li>
          <li>
            Always have a <b>trusted adult</b> you can confide in about any
            online bullying or harassment. Feel free to approach your parents,
            teachers or even seniors of such matters.
          </li>
        </ol>
      </main>
    </div>
  </div>
</div>
