<button
  type="button"
  class="btn btn-fancy-primary btn-sm btn-radius"
  data-bs-toggle="modal"
  data-bs-target="#newFeaturesModal"
>
  Explore Whats New!
</button>

<div
  class="modal fade zoom-in"
  id="newFeaturesModal"
  tabindex="-1"
  aria-labelledby="newFeaturesModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable"
  >
    <div class="modal-content">
      <div class="modal-header" style="background-color: #374785">
        <h5 class="modal-title" id="newFeaturesModalLabel" style="color: white">
          New Features!
        </h5>
        <button
          style="background-color: white"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Score System!</h5>
        <p style="text-align: justify">
          A little heads up about a new update to the coin system. Now you get
          coins for every right answer, and the time taken to answer them also
          counts. To get the most coins, try to answer correctly as quick as
          possible. Happy answering!
        </p>
        <hr />
        <!-- <h5>Safer Internet Day!</h5>
        <p style="text-align: justify">
          In celebration of Safer Internet Day, we have added our own new module
          on it!
          <br /><i>Remember: Safety is key on the internet!</i>
        </p>
        <hr /> -->
        <h5>Leaderboard!</h5>
        <p style="text-align: justify">
          This is where all the coins you've been collecting come in use :)
          <br />
          <i
            >Pro Tip: Make sure to collect more coins than the student next to
            you!</i
          >
        </p>
      </div>
      <div class="modal-footer" style="background-color: #374785">
        <button
          type="button"
          class="btn btn-outline-light"
          data-bs-dismiss="modal"
        >
          Back To Exploring!
        </button>
      </div>
    </div>
  </div>
</div>
