{% extends "safety_ambassador_program/layout.html" %}

{% block title %} Safety Ambassador Program {% endblock %}

{% block body %}
  <div>
    <div style="background-color: white; padding-bottom: 5%;">
      <h1 class = "display-4" style="text-align: center; font-weight: 700;">About Us</h1>
    </div>
    <div style="position: absolute; z-index: -10;">
      <div style="background-image: url(/media/template-skyblue.png); height: 1080px; width: 1920px;"></div>
      <div style="background-image: url(/media/template-darkblue.png); height: 1080px; width: 1920px; margin: auto;"></div>
      <div style="background-image: url(/media/template-red.png); height: 1080px; width: 1920px;"></div>
      <div style="background-image: url(/media/template.png); height: 1080px; width: 1920px;"></div>
      <div style="background-image: url(/media/template-yellow.png); height: 1080px; width: 1920px; margin-bottom: 42vh;"></div>
    </div>
    <div style="padding: 1rem;">
      <div class="about-div fade-in">
        <h1 class = "about-title"><span>Meet The Team</span></h1>
        <img src = "/media/SAP-team.JPG" style="width: 50%;">
        <div class = "about-info">
          <div>
            <p>GEMS Modern Safety Ambassadors 2021/2022</p>
          </div>
        </div> 
      </div>
      <div class="about-div fade-in">
        <h1 class = "about-title"><span>Our Logo</span></h1>
        <img src = "/media/SAP-logo.png" style="height: 75%">
        <div class = "about-info">
          <div>
            <p>The sheild symbolizes protection and the microprocessor symbolizes the digital aspect of the SAP modules.</p>
          </div>
        </div> 
      </div>
      <div class="about-div fade-in">
        <h1 class = "about-title"><span>Testimonials</span></h1>
        <div style="justify-content: space-evenly; display: flex;">
          <div class = "about-info">
            <h3>Neha Sancheti</h3>
            <div class="testimonial-designation">-[Insert designation here]</div>
            <p><i>“Through this program, I was able to strengthen my public speaking skills, and become a more aware and confident person. I was able to connect with students of the middle school and help spread awareness of Child Rights to foster a more encouraging and nurturing environment.”</i></p>
          </div>
          <div class = "about-info">
          </div>
          <div class = "about-info">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}