{% extends "safety_ambassador_program/layout.html" %}

{% block title %} Safety Ambassador Program {% endblock %}

{% block body %}
<div>
  <div style="background-color: white; padding-bottom: 5%;">
    <h1 class = "display-4" style="text-align: center;"><b>About Us</b></h1>
  </div>
  <div>
    <div style="background-image: url(/media/template-skyblue.png); height: 1080px; width: 1920px;">
      <div style = "text-align: center;" class="fade-in">
        <img src = "/media/SAP-logo.png">
        <div style="background: white; margin: 0rem auto; width: fit-content; padding: 1rem; border-radius: 1rem;">
          <div>
            <p>The sheild symbolizes protection and the microprocessor symbolizes the digital aspect of the SAP modules.</p>
          </div>
        </div> 
      </div>
    </div>
    <div style="background-image: url(/media/template-darkblue.png); height: 1080px; width: 1920px; margin: auto;">     
    </div>
    <div style="background-image: url(/media/template-red.png); height: 1080px; width: 1920px;"></div>
    <div style="background-image: url(/media/template.png); height: 1080px; width: 1920px;"></div>
    <div style="background-image: url(/media/template-yellow.png); height: 1080px; width: 1920px; margin-bottom: 42vh;"></div>
  </div>
</div>
{% endblock %}