{% extends "safety_ambassador_program/layout.html" %}

{% block title %} Safety Ambassador Program {% endblock %}

{% block body %}
<div>
  <div style="background-color: white; padding-top: 5%;">
    <h1 class = "display-4" style="text-align: center; font-weight: 700;">The SAP Journey:</h1>
  </div>
  <div style="position: absolute; z-index: -10;">
    <div style="background-image: url(/media/templates/archive-yellow-template.png); height: 1080px; width: 1920px; margin: auto;"></div>
    <div style="background-image: url(/media/templates/archive-darkblue-template.png); height: 1080px; width: 1920px;"></div>
    <div style="background-image: url(/media/templates/archive-red-template.png); height: 1080px; width: 1920px;"></div>
    <div style="background-image: url(/media/templates/archive-navy-template.png); height: 1080px; width: 1920px;"></div>
    <div style="background-image: url(/media/templates/archive-skyblue-template.png); height: 1080px; width: 1920px; margin-bottom: 42vh;"></div>
  </div>
  <div class = "archive-section">
    <h2 class="section-title"><span>Posters:</span></h2>
      <div class = "archive-div slide-in from-left">
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image0.png" class="poster">   
        </div>
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image1.png" class="poster">
        </div>
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image2.png" class="poster">
        </div>
      </div>
      <div class = "archive-div slide-in from-right">
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image3.png" class="poster">
        </div>
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image4.png" class="poster">
        </div>
      </div>
      <div class = "archive-div slide-in from-left">
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image5.png" class="poster">
        </div>
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image6.png" class="poster">
        </div>
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image7.png" class="poster">
        </div>
      </div>
      <div class = "archive-div slide-in from-right">
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image8.png" class="poster">
        </div>
        <div class = "poster-background">
          <img onclick="enlargePoster(this)" src = "/media/posters/image9.png" class="poster">
        </div>
      </div>
  </div>
  <div class = "archive-section fade-in" style="background-color: white; margin: auto;">
    <h2 style="margin: 0.5rem 0rem 1rem 0rem;" class="section-title"><span>Dot The Bot</span></h2>
    <div style = "margin: auto; display: flex; justify-content: space-evenly;">
      <img class = "digital-image" style = "width: 90vh; height: 55vh; object-fit:contain;" src = "/media/files/dot-the-bot-1.jpg">
      <img class = "digital-image" style = "width: 90vh; height: 55vh; object-fit:contain;" src = "/media/files/dot-the-bot-2.jpg">
    </div>
    <div style = "margin: 2rem 1rem">
      <div class = "digital-body">
        <p>
          In May 2021, Modern’s Safety Ambassadors introduced Dot the Bot. It is a sustainable mascot which helped instill in students ideas of Digital Citizenship and raised awareness regarding topics such as Cyber Security, Privacy Management, Information Literacy and more. Dot the Bot visited grades 3-5 classrooms and had active discussions regarding Digital Empathy and how to have a balanced use of technology.
        </p>
      </div>
    </div>
  </div>
  <div class = "archive-section">
    <h2 class="section-title"><span>Other Works:</span></h2>
    <div class = "archive-div slide-in from-left">
      <div class = "poster-background">
        <img onclick="location.href = '/media/posters/Guide to staying safe online.pdf'" class="poster" src = "/media/posters/how-to-stay-safe-online-cover.png" style="height: 250px; width: auto;">
      </div>
      <div class = "poster-background">
        <img onclick="location.href = 'https://docs.google.com/presentation/d/e/2PACX-1vR2wvK8g_vRoXdA3QwppOH4_sukfXO2Rl591HM4BQvYaNqB7urBRtCsHxcBsq15P4XkpMs-d7r3rWox/pub?start=true&loop=true&delayms=60000&slide=id.g193b26f510_0_0'" class="poster" src = "/media/posters/identity-cover.JPG" style="height: 250px; width: auto;">
      </div>
    </div>
  </div>
</div>
<script>
  function enlargePoster(poster) {
    location.href = poster.src;
  }
</script>
{% endblock %}