{% extends "safety_ambassador_program/layout.html" %}

{% block title %} Safety Ambassador Program {% endblock %}

{% block body %}
<div>
  <div style="background-color: white; padding-top: 5%;">
    <h1 class = "display-4" style="text-align: center; font-weight: 700;">The SAP Journey:</h1>
  </div>
  <div style="position: absolute; z-index: -10;">
    <div style="background-image: url(/media/archive-yellow-template.png); height: 1080px; width: 1920px; margin: auto;"></div>
    <div style="background-image: url(/media/archive-darkblue-template.png); height: 1080px; width: 1920px;"></div>
    <div style="background-image: url(/media/archive-red-template.png); height: 1080px; width: 1920px;"></div>
    <div style="background-image: url(/media/archive-navy-template.png); height: 1080px; width: 1920px;"></div>
    <div style="background-image: url(/media/archive-skyblue-template.png); height: 1080px; width: 1920px; margin-bottom: 42vh;"></div>
  </div>
  <div style="padding: 1rem;">
      <div class = "archive-div slide-in from-right">
        <img src = "/media/posters/image0.png" class="poster">
      </div> 
      <div class = "archive-div slide-in from-left">
        <img src = "/media/posters/image1.png" class="poster">
      </div>
      <div class = "archive-div slide-in from-right">
        <img src = "/media/posters/image2.png" class="poster">
      </div>
      <div class = "archive-div slide-in from-left">
          <img src = "/media/posters/image3.png" class="poster">
      </div>
      <div class = "archive-div slide-in from-right">
          <img src = "/media/posters/image4.png" class="poster">
      </div>
      <div class = "archive-div slide-in from-left">
          <img src = "/media/posters/image5.png" class="poster">
      </div>
      <div class = "archive-div slide-in from-right">
          <img src = "/media/posters/image6.png" class="poster">
      </div>
      <div class = "archive-div slide-in from-left">
        <img src = "/media/posters/image7.png" class="poster">
      </div>
      <div class = "archive-div slide-in from-right">
          <img src = "/media/posters/image8.png" class="poster">
      </div>
      <div class = "archive-div slide-in from-left">
          <img src = "/media/posters/image9.png" class="poster">
      </div>
  </div>
</div>
{% endblock %}