{% extends "safety_ambassador_program/layout.html" %}

{% block title %} Safety Ambassador Program {% endblock %}

{% block body %}
{% load static %}
    <script src="{% static 'safety_ambassador_program/js/validator.js' %}"></script>
    <hr>
    <div id="quiz-div" class="carousel slide" data-bs-interval="false" data-bs-wrap="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="index-test-containers d-block">
                    <div>
                        <div class = "question-container">
                            <h4 class="text-danger">Q.1) </h4>
                            <h4>What do you think is cyber safety?</h4>
                        </div>
                        <select class="form-select answer-fields" id = "digital-security" aria-label="Default select example">
                            <option id = "correct-answer">Protecting yourself on the internet from people who might want to harm you</option>
                            <option>Protecting your internet.</option>
                            <option>Protecting the viruses on the internet from the hackers.</option>
                            <option>Ensuring the safety of the hackers on the internet and protecting them from viruses.</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <div class = "question-container">
                            <h4 class="text-danger">Q.2) </h4>
                            <h4>Why should you keep your passwords private?</h4>
                        </div>
                        <select class="form-select answer-fields" id = "digital-security" aria-label="Default select example">
                            <option>So that you don’t get hacked.</option>
                            <option>So that others don’t use your account (and spend your V-bucks on fortnite.</option>
                            <option>So that someone else doesn’t gain access to your account and change its password and log you out.</option>
                            <option id = "correct-answer">All of the above.</option>
                        </select>
                    </div>
                    <br>
                    <div>
                        <div class = "question-container">
                            <h4 class="text-danger">Q.3) </h4>
                            <h4>What is a digital footprint?</h4>
                        </div>
                        <select class="form-select answer-fields" id = "digital-security" aria-label="Default select example">
                            <option>A scan of your foot on google.</option>
                            <option id = "correct-answer">Every single action of yours on the internet which can be traced back to you.</option>
                            <option>Only your search history.</option>
                            <option>All your activity on social media platforms.</option>
                        </select>
                    </div>
                </div>          
            </div>
            <div class="carousel-item">
                <div class="index-test-containers d-block">
                    <div class = "digital" style = "justify-content: space-around; display: block;">
                        <h2>The Digital Intelligence Framework</h2>
                        <img src = "https://www.dqinstitute.org/wp-content/uploads/2019/02/DQFrameworkWheel.png" height="600px">
                        <p>The colourful wheel you see here, is the Wheel of Digital Intelligence (DQ). It is made up of 8 areas and 24 sections, collectively known as digital competences. This wheel covers all different sections of the Internet and Digital Technology.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                {% include "safety_ambassador_program/digital-segments/digital-wellbeing.html" %}
            </div>
            <!-- <div class = "carousel-item">
                <div style='position: relative; padding-bottom: 56.25%; padding-top: 35px; height: 0; overflow: hidden;'>
                    <iframe sandbox='allow-scripts allow-same-origin allow-presentation' allowfullscreen='true' allowtransparency='true' frameborder='0' height='315' src='https://www.mentimeter.com/embed/92785c847df8749f641365ed823ac987/fe42adbf3a38' style='position: absolute; top: 0; left: 0; width: 90%; height: 50%;' width='420'></iframe>
                </div>
            </div> -->
            <div class = "carousel-item">
                {% include "safety_ambassador_program/digital-segments/digital-identity.html" %}
            </div>
            <div class = "carousel-item">
                {% include "safety_ambassador_program/digital-segments/digital-safety.html" %}
            </div>
            <div class = "carousel-item">
                {% include "safety_ambassador_program/digital-segments/digital-security.html" %}
            </div>
            <div class = "carousel-item">
                <div style = "justify-content: space-around; display: flex;">
                    <iframe src="https://padlet.com/sharmapratyush2005/9gxlvqsac9zocrha" width="1200" height="900" frameborder="0" marginheight="0" marginwidth="0" >Padlet</iframe>
                </div>
            </div>
            <div class = "carousel-item">
                <div class = "index-test-containers">
                    {% if request.user.grade.grade >= 3 and 5 <= request.user.grade.grade %}
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSePNjJZ2HLHd0dM0vRRYrsNSsIVIMaPlSZ4Rx7DDeZRT53H9A/viewform?embedded=true" width="800" height="500" frameborder="0" marginheight="0" marginwidth="0" >Posttest - Middle School</iframe>
                    {% else %}
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdX9OjKp77sWZjRciIxTjH2OlAcYGpG76rEss_aPWxtpHpp4w/viewform?embedded=true" width = "800" height="500" frameborder="0" marginheight="0" marginwidth="0">Pretest</iframe>
                    {% endif %}
                </div>
            </div>
            <div class = "carousel-item">
                <a href = "{% url 'intro_completed' %}"><button class="btn btn-success">Complete Introduction</button></a>
            </div>
        </div>
        <div class = "carousel-controls">
            <button class="btn btn-primary" onclick="prevSlide()" type="button" data-bs-target="#quiz-div" data-bs-slide="prev">
                Previous
            </button>
            <button id = "next-button" onclick="nextSlide()" class="btn btn-primary" type="button" data-bs-target="#quiz-div" data-bs-slide="next">
                Next
            </button>
        </div>
    <div>
    </div>
    <br>
    <hr>
    <script>  
        let currentSlideNumber = localStorage.getItem('current-slide')?localStorage.getItem('current-slide'):0;
        document.addEventListener("DOMContentLoaded", () => {
            const carousel = new bootstrap.Carousel(document.getElementById("quiz-div"));
            carousel.to(currentSlideNumber);
            if(currentSlideNumber == carousel._items.length) {
                const finishIntroDiv = document.createElement('div');
                const finishIntroButton = document.createElement('button');
                finishIntroButton.className += "btn btn-success";
                finishIntroButton.innerHTML = "Finish Introduction";
                finishIntroDiv.appendChild(finishIntroButton);
            }
        })
        function prevSlide() {
            currentSlideNumber--;
            localStorage.setItem('current-slide', currentSlideNumber);
            document.getElementById("next-button").disabled = false;
        }
        function nextSlide() {
            currentSlideNumber++;
            localStorage.setItem('current-slide', currentSlideNumber);
        }
    </script>
{% endblock %}