<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pretest-form">
    Pretest
</button>
  
  <!-- Modal -->
  <div class="modal fade" id="pretest-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div style = "max-width: 100%; width: fit-content;" class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pretest Form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfHm23gUuDwYCzfM_8egUpl41gV7mhpAJw6Fq2QowEg3_bqng/viewform?embedded=true" width="800" height="1406" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Finish</button>
        </div>
      </div>
    </div>
  </div>