{% extends "safety_ambassador_program/layout.html" %}

{% block title %} Safety Ambassador Program {% endblock %}

{% block body %}
    {% load static %}
    <script src = "{% static 'safety_ambassador_program/js/balloon.js' %}"></script>
    <div class="games-container">
        {% for game in Digital %}
            <div 
            {% if forloop.counter|divisibleby:2 %} 
            class = "slide-in from-right right-game game-div" 
            {% else %} 
            class = "slide-in from-left left-game game-div" 
            {% endif %}
            >
                <a href="{{game.url}}">
                    <h2>{{game.title}}</h2>
                    <hr>
                    <div style="display: flex;">
                        {% if forloop.counter|divisibleby:2 %} 
                            <div style="margin-right: 5rem;">
                                <img src="{{game.image.url}}" class="d-block game-img" alt="...">
                            </div>
                            <div style="display: block; margin: auto;">
                                <h4>{{game.description}}</h4>
                            </div>
                            <div style="margin-right: 5rem;">
                                <img class="d-block game-img" alt="...">
                            </div>
                            <!-- https://media3.giphy.com/media/Ri98Ht4Q9hczOeHC1E/giphy.gif -->
                            <!-- https://i.gifer.com/WME8.gif -->
                            <!-- https://c.tenor.com/lNtmoshuUI8AAAAj/bahroo-hacker.gif -->
                        {% else %} 
                            <div>
                                <img class="d-block game-img" alt="...">
                            </div>
                            <div style="display: block; margin: auto;">
                                <h5>{{game.description}}</h5>
                            </div> 
                            <div style="margin-right: 5rem;">
                                <img src="{{game.image.url}}" class="d-block game-img" alt="...">
                            </div>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <script>
        const gifs = ['reddude.gif', 'octo.gif', 'glitch.gif', 'batman.gif'];
        const basePath = '/media/gifs/';
        document.addEventListener("DOMContentLoaded", function() {
            let gifsCopy = gifs.slice(0); //make a copy of the array.
            for (let i = 0; i < document.getElementsByClassName('game-img').length; i++) {
                console.log(gifsCopy);
                let rNumber = Math.floor(Math.random() * gifsCopy.length);
                let img = document.getElementsByClassName('game-img')[i];
                if(!img.src) {
                    let rand = gifsCopy.splice(rNumber, 1); //deletes the img from the array and returns it;
                    img.src = basePath+rand;
                }
            }
        })
        function imgRandom() {
            
        }
    </script>
{% endblock %}