<div class="digital-title">
  <h2 class="fade-in">
    Where Do We Come Across This Age Inappropriate Content?
  </h2>
  <hr class="underline" />
</div>
<div class="digital">
  <div class="my-auto mx-3">
    <p class="lead fw-bold">1) Illegal Websites</p>
    <div class="digital-body text-start">
      <p>
        Have you ever tried searching for a movie online? If you have, you'll
        know that it's usually difficult to find movies on platforms like
        YouTube. This is because the companies that make these movies don't want
        it circulating online. If you do come across a website that has lots of
        movies you can watch for free, it is most likely an
        <b>illegal streaming service</b>. In such websites, it is common to come
        across a number of pop up ads. (add something more)
      </p>
      <p>
        <button
          type="button"
          class="btn btn-secondary align-self-center modal-button"
          data-mdb-toggle="modal"
          data-mdb-target="#PopUp"
          onclick="popUp('illegal-website-ads')"
        >
          But Why Do They Use These Kinds Of Ads?
          <img src="/media/gifs/click-me.gif" style="height: 3vh" />
        </button>
      </p>
      <p>
        These advertisements may show things that make you feel uncomfortable.
        They can also be dangerous. For example, an ad might say that your
        device has a virus and you need to download the services being promoted
        to protect your device. This is a method to get people to click on the
        ad.
      </p>
      <p>
        Another method is if the ad says you have won a prize in a lottery and
        ask for your personal information to claim it.
      </p>
      <p class="text-center">
        But, no matter what, <b><i>Do Not</i></b> click on these ads/pop-ups
      </p>
      <button
        type="button"
        class="btn btn-secondary align-self-center modal-button"
        data-mdb-toggle="modal"
        data-mdb-target="#PopUp"
        onclick="popUp('sap-thumb-rule')"
      >
        Hey! Here's A Tip!
        <img src="/media/gifs/click-me.gif" style="height: 3vh" />
      </button>
    </div>
  </div>
  <div class="my-auto mx-3">
    <div>
      <img
        style="width: 70vh; object-fit: cover"
        src="https://images.theconversation.com/files/423323/original/file-20210927-15-198cxfc.jpeg"
      />
    </div>
  </div>
  <br />
</div>
<div class="digital">
  <div class="my-auto mx-3">
    <img
      style="width: 70vh; object-fit: cover"
      src="https://lh5.googleusercontent.com/NbprAOfzj1LP9davBwTuko5_UBL880cU91z-I8R1FbJQMDu9wOG9vqKPaBgmXxpIjMzJqH94HUzjbvtNnPgaDwKwQ34lnYEoderaruU_zcxfra5kcdQvsbflW7y7LhCeAz0uapPCfUSIT3WiVw"
    />
  </div>
  <div class="my-auto mx-3 text-start">
    <p class="lead fw-bold">2) Gaming Apps/Websites</p>

    <p>
      You may also come across inappropriate content while playing multiplayer
      games. <b>When gaming server chats are open for anyone to join</b>, it
      could expose you to people that behave in a way that makes you
      uncomfortable. This could be by using rude or explicit language, or any
      manner that makes you uncomfortable. Be cautious while using chats -
      strangers could be dishonest about things they tell you about themselves.
    </p>
    <button
      type="button"
      class="btn btn-secondary align-self-center modal-button"
      data-mdb-toggle="modal"
      data-mdb-target="#PopUp"
      onclick="popUp('weary-warning')"
    >
      Be Weary!
      <img src="/media/gifs/click-me.gif" style="height: 3vh" />
    </button>
    <p class="my-4">
      In these chats you could also find <b>links</b>, which are often
      <b>spam messages</b>
      generated by bots. These links could take you to dangerous, illegal
      websites. Be cautious and do not click on random links you come across and
      those that are not from a trusted source.
    </p>
  </div>
</div>
<div
  class="modal fade zoom-in"
  id="PopUp"
  tabindex="-1"
  aria-labelledby="ModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Title</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <b id="ModalContent">Content</b>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-mdb-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const popUpContent = {
    "weary-warning": {
      title: "Be Weary!",
      content: "On the internet, everything isn't what it seems to be...",
    },
    "sap-thumb-rule": {
      title: "The Safety Ambassador's Thumb Rule!",
      content:
        "On the internet, If it's too good to be true, it's probably not true.",
    },
    "illegal-website-ads": {
      title: "Why Do These Illegal Websites Have Such Pop Ups?",
      content:
        "These websites may seem like they are free to use, but they are still trying to make money. They do this through advertisements or 'Pop-Ups'. These can be pictures on the side of a screen or boxes of texts that 'pop up' when you open the page or click on something",
    },
  };
  const popUp = (type) => {
    document.getElementById("ModalLabel").innerText = popUpContent[type].title;
    document.getElementById("ModalContent").innerText =
      popUpContent[type].content;
  };
</script>
