<div class = "digital">
    <div style = "margin: 1rem">
        <div class = "digital-title" >
            <h2>Digital Security</h2>
        </div>
        <div class = "digital-body">
            <p>
                <main>
                    <ol class = "gradient-list">
                        <li>Ensure you have a <b>strong password</b>. Make sure it has at least one <b>capital letter</b>, a <b>number</b> and a <b>special symbol</b>.</li>
                        <li><b>Keep your personal information to yourself</b>. If you need to upload it somewhere, make sure you do so with your parents’ consent.</li>
                        <li><b>Don’t immediately trust</b> everything you see on the internet. You never know who is sitting behind the screen, thousands of miles away. It is always recommended to talk to your parents, teachers or elders about any suspicious activity that comes up.</li>
                        <li>Avoid giving <b>personal information</b> such as your <i>address, mobile number and age</i>, to websites.</li>
                    </ol>
                </main>
            </p>
            <iframe width="420" height="236" src="https://www.youtube.com/embed/yiKeLOKc1tw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div style = "margin: auto;">
        <div>
            <img class = "digital-image" style = "width: 90vh; height: 50vh; object-fit: cover;" src = "/media/digital-security.jpg">
        </div>
    </div>
</div>
<hr>
<div class = "section-questions">
    {% if request.user.grade.grade >= 3 and 5 <= request.user.grade.grade %}
        <div class = "question-container">
            <h4 class="text-danger">Q) </h4>
            <h4>Who can you share your passwords with?</h4>
        </div>
        <br>
        <select onclick="startTimer()" class="form-select answer-fields" id = "Se" aria-label="Default select example">
            <option>A) Your Teacher</option>
            <option id = "correct-answer">B) Your Family</option>
            <option>C) Your Friends</option>
            <option>D) Nobody – you should keep them to yourself</option>
        </select>
         
    {% else %}
        <div class = "question-container">
            <h4 class="text-danger">Q) </h4>
            <h4>When online, from whom should you accept friend requests?</h4>
        </div>
        <br>
        <select onclick="startTimer()" class="form-select answer-fields" id = "Se" aria-label="Default select example">
            <option>A) Someone you think you’ve met before.</option>
            <option id = "correct-answer">B) Only from people you definitely know.</option>
            <option>C) Only strangers.</option>
            <option>D) Anyone</option>
        </select>
    {% endif %}
    <br>
    <br>
    <button onclick="verifyAnswer(this)" class = "btn btn-secondary">Verify Answer</button>
    <div class="alert alert-danger" role="alert" id = "output-msg">
        <br>
        {% if request.user.grade.grade >= 3 and 5 <= request.user.grade.grade %}
            Your parents are your closest family. They must be involved in your online activities so they can keep a track of things in case anything goes wrong. <b>Remember</b>, Besides your family, do not share your password with anyone else, not even your friends.
        {% else %}
            The people that follow you on social media will have access to all your personal information and pictures, which is why you should be careful when you accept friend requests. Only those you know personally, and those you trust with your private information should have access to it.
        {% endif %}
    </div>
</div>