<div class = "digital">
    <div style = "margin: 1rem">
        <div class = "digital-use-title" >
            <h2>Digital Security</h2>
        </div>
        <div class = "digital-use-body">
            <p>
                <main>
                    <ol class = "gradient-list">
                        <li>Ensure you have a strong password. Make sure it has at least one capital letter, a number and a special symbol.</li>
                        <li>Keep your personal information to yourself. If you need to upload it somewhere, make sure you do so with your parents’ consent.</li>
                        <li>Don’t immediately trust everything you see on the internet. You never know who is sitting behind the screen, thousands of miles away. It is always recommended to talk to your parents, teachers or elders about any suspicious activity that comes up.</li>
                        <li>Avoid giving personal information such as your address, mobile number and age, to websites.</li>
                    </ol>
                </main>
            </p>
            <iframe width="420" height="236" src="https://www.youtube.com/embed/yiKeLOKc1tw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div style = "margin: auto;">
        <div>
            <img class = "digital-use-image" style = "width: 90vh; height: 50vh; object-fit: cover;" src = "/media/digital-security.jfif">
        </div>
    </div>
</div>
<hr>