<div class = "digital">
    <div style = "margin: auto;">
        <div>
            <img class = "digital-image" style = "width: 90vh; height: 60vh; object-fit: cover;" src = "https://www.periodicodigitalgratis.com/gratis/img/27148/27148_0216334001569993846.jpg">
        </div>
    </div>
    <div style = "margin: 1rem">
        <div class = "digital-title" >
            <h2>Digital Safety</h2>
        </div>
        <div class = "digital-body">
            <p>
                <main>
                    <ol class = "gradient-list">
                        <li>Do not give your password, name, address, school name, or any other personal information about yourself or your family, to anyone, no matter how genuine the person might be. You are entitled to keep this important information to yourself – It is your own secret.</li>
                        <li>On the internet, avoid chatting with strangers, no matter how safe the other person makes you feel. It could be a trap.</li>
                        <li>If a profile asks for your name and address, don't fill it out. Check the authenticity of the form. It would be better to run it by an adult.</li>
                        <li>Without the approval of an adult / parent, do not enter a chat room.</li>
                        <li>If a profile asks for your name and address, don't fill it out.</li>
                        <li>If you see something you believe your parents won't like, don't stay on that page/link and move to another.</li>
                        <li>If you don't have your parents' consent, don't upload images of yourself online.</li>
                        <li>Ask your parents, guardian or any trusted adult, if you have any questions regarding something you've read. You are not alone and the sooner you reach out with a concern, the better chances of resolving it before it gets worse.</li>
                    </ol>
                </main>
            </p>
            <iframe width="420" height="236" src="https://www.youtube.com/embed/X9Htg8V3eik" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
<hr>
<div class = "section-questions">
    {% if request.user.grade.grade >= 3 and 5 <= request.user.grade.grade %}
        <h4>You’ve gone on a gaming website and it asks you to download a link before you play. What should you do?</h4>
        <select class="form-select answer-fields" id = "digital-safety" aria-label="Default select example">
            <option id = "correct-answer" selected>Show the link to an adult and ask them if it’s safe.</option>
            <option>Download it anyway.</option>
            <option>Ask your friends what to do.</option>
        </select>
    {% else %}
        <h4>Which of the following is the strongest password?</h4>
        <select class="form-select answer-fields" id = "digital-safety" aria-label="Default select example">
            <option selected>A nickname that your friends call you (e.g. jumpingjacks)</option>
            <option>Your full name (e.g. jacksmith)</option>
            <option id = "correct-answer">A random word, number and punctuation combination (e.g. 1cecr3am!)</option>
            <option>Part of your name and a number (e.g. jack123)</option>
        </select>
    {% endif %}
    <br>
    <br>
    <button onclick="verifyAnswer(this)" class = "btn btn-secondary">Verify Answer</button>
    <div class="alert alert-danger" role="alert" id = "invalid-input-msg">
        Wrong Answer!
    </div>
</div>