<div class="digital-title">
  <h2 class="fade-in">Staying Safe Online</h2>
  <p>
    *Navigate this module along side a parent so that you and your parents can
    get a better idea of how your data is being used*
  </p>
  <hr class="underline" />
</div>
<div class="digital">
  <div class="my-auto mx-3">
    <div class="digital-body text-start">
      <p>
        You can edit your personal data on your google account and control what
        other people can see. Google will also give you data and privacy
        suggestions so that you can stay safer on the web. This includes
        controlling which companies have your data and which passwords may need
        to be changed (may have been compromised or may have appeared in a data
        leak).
      </p>
      <p>
        If you want to be extra safe, you can switch on the safe web feature as
        well, but it will be at the expense of sending more of your data to
        google instead. Talk to your parents before switching on the safe web
        feature.
      </p>
    </div>
  </div>
  <div class="my-auto mx-3">
    <div>
      <img
        style="width: 50vh; object-fit: cover"
        src="https://lh5.googleusercontent.com/9bRif6_of-52x3v3Z4z-dpd1KceB998VaRK8X5o7z8Qw2tA3VzHm7FZnIid_SXuUxMhrSW0e4N2AU3UiJrN4AtZN36vFZEP3IM4X3WeRNa94FXVeMprgGeTYqo7ByKR2nxFZUGsE00HC2K0Rcg"
      />
    </div>
  </div>
  <br />
</div>
<div class="digital">
  <div class="my-auto mx-3">
    <img
      style="width: 70vh; object-fit: cover"
      src="https://lh4.googleusercontent.com/4R6PCw29jr0m-vqkcinUZrt_2WPQoSTHygTp-q3CXWcFq_WpCJwxVK_sF4jx_o00L0hgpQQqxKx6dRp97BFAou26lgN4etxOWw1_9zcBjBcndG7oqbiIINyd6uX5Afo6JVzt9CQy94TkJg_pAw"
    />
  </div>
  <div class="my-auto mx-3">
    <p>
      It is also good to explore the privacy settings of all of your online
      accounts. You can start with Google accounts and YouTube. If you want to
      be extra safe when it comes to your data, then there is a website you can
      use -
      <a class="btn text-white btn-dark" href="https://saymineapp.com/"
        >saymine.com</a
      >
      Through this easy-to-use website you can get your data back from
      companies, as is your right.
    </p>
  </div>
</div>
